cff-version: 1.2.0
message: "If you use these scripts, please cite the associated research article."
title: "Mitochondrial Ultrastructure R Analysis"
type: software
authors:
  - family-names: "<FAMILY_NAME>"
    given-names: "<GIVEN_NAMES>"
    orcid: "<ORCID_URL_OR_REMOVE_FIELD>"
repository-code: "https://github.com/nikolvolfova-web/Mitochondrial-Ultrastructure-R-Analysis"
version: "<SOFTWARE_VERSION>"
date-released: "<YYYY-MM-DD>"
preferred-citation:
  type: article
  authors:
    - family-names: "<FAMILY_NAME>"
      given-names: "<GIVEN_NAMES>"
      orcid: "<ORCID_URL_OR_REMOVE_FIELD>"
  title: "<ARTICLE_TITLE>"
  journal: "<JOURNAL_NAME>"
  year: "<PUBLICATION_YEAR>"
  doi: "<ARTICLE_DOI>"
